<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application>

      <!--<lifetime leaseTime="0" renewOnCallTime="2S" leaseManagerPollTime="1S"/>-->
      <channels>
        <channel ref="http" port="8888">
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full"></formatter>
          </serverProviders>
        </channel>
        
      </channels>
      
      <service>
        <wellknown type="Server.Server, Server"
                   mode="Singleton"
                   objectUri="Server.soap"/>
      </service>

      
    </application>
  </system.runtime.remoting>
</configuration>
