<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
  <application>



    <channels>
      <channel ref="http" port="0">
        <clientProviders>
            <formatter ref="soap"></formatter>
          </clientProviders>
          <serverProviders>
            <formatter ref="soap" typeFilterLevel="Full"></formatter>
          </serverProviders>
      </channel>
    </channels>

    <client>
      <wellknown type="SharedServerInfo.IServer, SharedInterfaces"
                 url="http://localhost:8888/Server.soap"/>
    </client>

    <client  url="http://localhost:8888/" >
      <activated type="SharedServerInfo.IStockManager, SharedInterfaces" />
    </client>
    
  </application>
 </system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>