<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <endpoint address="http://api.microsofttranslator.com/V2/soap.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService1"
        contract="Translator.LanguageService" name="BasicHttpBinding_LanguageService" />
      <endpoint address="http://localhost:8880/ChatService/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IChatService" contract="ChatServiceHost.IChatService"
        name="WSHttpBinding_IChatService">
        <identity>
          <userPrincipalName value="CRISTIANORO18C8\cristianorosario" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/CentralService/Service1/"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICentralService"
        contract="CentralService.ICentralService" name="WSDualHttpBinding_ICentralService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_LanguageService" />
        <binding name="BasicHttpBinding_ICentralService" />
        <binding name="BasicHttpBinding_LanguageService1" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ICentralService">
          <security mode="None">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IChatService" />
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
